@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Quicksand", serif;
font-weight: 400;

}
/***** share  *****/ 
.text-center{
  text-align: center;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 8rem 2rem;
}
.grid{
  display: grid;
}
.grid-two--cols{
  grid-template-columns: repeat(2 , 1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(3 , 1fr);

}
.grid-four-cols{
  grid-template-columns: repeat(4 , 1fr);

}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
p{
  color: rgba(102, 102, 102, 1);
  font-size: 1rem;
}


:root{
  --primary-color:rgba(254, 163, 1, 1);
  --secondary-color:rgba(1, 172, 253, 1);
  --big-card-btn:rgba(60, 216, 232, 1);
  --card-btn:rgba(149, 178, 38, 1);
}
/***** End share  *****/


.nav-bar{
  margin: 20px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .nav-logo{
    display: flex;
    align-items: center;
      
    & .logo-title{
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  & .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    & .nav-link{
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  & .contact .contact-btn{
    padding: .9rem 4rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    font-size: 20px;
    font-weight: 500;
}
}
#home{
  color: var(--primary-color);
}
#about{
  color: var(--secondary-color);
}
#facilities{
  color:rgba(5, 212, 223, 1) ;
}
#admission{
  color: rgba(93, 88, 239, 1);
}
.nav-icon{
  display: none;
}
/***** nav-responsive *****/ 
@media  (max-width:576px) {

  .nav-bar{
    padding: 10px 0;
    border-bottom: 1px solid var(--primary-color);
  margin: 0;
    & img{
      width: 46px;
    }
    
    & .logo-title{
      display: none;
    }

    & .nav-icon{
      display: block;
      font-size: 30px;
      padding: 20px;
    }
  }
 .nav-bar .nav-list{
  display: none;
 }
 .nav-bar .contact .contact-btn{
  display: none;
 }
}


/***** End nav-responsive *****/



/***** hero *****/ 
.hero-section{
  margin: 20px 140px ;
 display: flex;
 gap: 130px;
  align-items: center;

  & .hero-content{
    & .hero-heading{
      font-size: 3.8rem;
      max-width: 640px;
      & .primary{
        color: var(--primary-color);
      }
      & .secondary{
        color: var(--secondary-color);
      }
    }
    & .hero-btn button {
      padding: 10px 47px;
      background-color: black;
      color: white;
      font-size: 1.3rem;
      margin-top: 1rem;
      border: none;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
    
    
  }
}

/***** End hero *****/

/***** hero responsive *****/ 

@media (max-width:576px) {
  .hero-section{
    flex-direction: column-reverse;
    padding: 20px ;
    margin: 0;

    & .hero-img{
      width: 360px;
      padding: 10px;
    }
    & .hero-content .hero-heading{
      font-size: 32px;
      text-align: center;
    }
    & .hero-content .hero-description{
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }
    .hero-btn{
      display: flex;
      justify-content: center;
    }
  }
}

/***** End hero responsive *****/

 /***** main section *****/ 


 .main{
 

  /* position: relative; */

  & .card-section{
    margin: 0 140px;
    padding: 20px;
    background: url(./assets/bg.png);
    background-size: cover;
    background-position: center;
    



   
  & .curriculum{
    font-size: 2.8rem;
    margin-bottom: 80px;
  
   }


  & .curriculum-card{


    margin: 80px 0;
    gap: 28px;
    justify-content: space-between;


    & .kids-card{
      max-width: 350px;

      padding: 30px;
      background: linear-gradient( to bottom , rgba(222, 245, 255, 1) 0% , rgba(255, 255, 255, 0) 40%);
      box-shadow: 5px 2px 5px 3px rgba(0,0,0,0.16);
      -webkit-box-shadow: 5px 2px 5px 3px rgba(0,0,0,0.16);
      -moz-box-shadow: 5px 2px 5px 3px rgba(0,0,0,0.16);
      border-radius: 18px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      -ms-border-radius: 18px;
      -o-border-radius: 18px;
      display: grid;
      place-items: center;
  
}

& .card-1{
  background: linear-gradient( to bottom ,rgba(255, 244, 220, 1) 0% , rgba(255, 255, 255, 0) 40%);
   & .card-btn{
    color:rgba(234, 163, 10, 0.663) ;
   }

}

& .card-2{
  background: linear-gradient( to bottom ,rgba(238, 225, 255, 1) 0% , rgba(255, 255, 255, 0) 40%);
  & .card-btn{
    color: rgb(100, 13, 212);
  }

}
& .card-img{
  max-width: 130px;
  height: auto;
  margin-bottom: 32px;
  

}
.card-description{
  line-height: 28.3px;
  text-align: center;
  margin-bottom: 20px;
}
& .card-btn{
  color: var(--secondary-color);
  margin-bottom: 20px;
}
  }

}
  
}


.main .arrow-icon{
  display: flex;
  justify-content: center;
  gap: 20px;
 font-size: 24px;
 

 & .fa-solid{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
}
 /* card responsive */

@media (max-width:576px) {
  .main .curriculum-card{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .main{
    margin: 0;


    & .card-section {
       margin: 0;

       & .curriculum-card{
        margin: 20px 0;
       }
     & .curriculum {
      font-size: 26px;
      text-align: center;
      margin-bottom: 20px;
    
    }
  }
  
  & .arrow-icon{
    display: none;
   }
  }

}



 /***** End main section *****/
 
/* stories */

.main .stories-section{
  background:linear-gradient( to top , rgba(245, 206, 139, 0.432) 0% , rgba(255, 255, 255, 1) 100%), url(./assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & .story-container{
    margin: 0 140px;
    padding: 20px;
   & .stories{
    margin: 80px 0;
    font-size: 34px;
    font-weight: bold;
   }
   & .stories-card-section{
    gap: 20px;

    & .story-1{
      max-width: 540px;
      height: 630px;
      background-color: white;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
    & .card-img img{
     border-top-left-radius: 18px;
     border-top-right-radius: 18px;
    
}
& .card-content{
  padding: 38px;
  position: relative;
   & .card-date{
    background-color: rgba(60, 216, 232, 1);
    padding: 8px 10px;
    position: absolute;
    color: white;
    font-size: 14px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    top: -20px;
}
  & .card-title{
    margin-bottom: 80px;
  }
  & .card-description {
    line-height: 30px;
  }
}
   }

  }
}
& .stories-btn{
  display: flex;
  justify-content: center;
;
}

& .stories-btn button{
  margin: 60px 0;
  padding: 10px 47px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.small-stories{
  gap: 20px;

  & .story-2 , .story-3 , .story-4 , .story-5{
    max-width: 290px;
    height: auto;
    background-color: white;
    border-radius: 18px;
   
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;

    & .card-img img{
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
     
 }
 & .card-content{
   padding: 38px;
   position: relative;
    & .card-date{
     background-color: rgba(149, 178, 38, 1);
     padding: 8px 10px;
     position: absolute;
     color: white;
     font-size: 14px;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     top: -20px;
 }
 & .different{
  background-color: rgba(93, 88, 240, 1);
 }
 & .card-title{
  font-size: 15px;
 }
  }
}
}
}

/* stories section responsive */
@media (max-width:576px) {
  .main .stories-section .story-container {
    margin: 0 ;
    padding: 15px;
    & .stories{
      margin: 20px;
    }

    .stories-card-section{
      display: block;
    }
    & .story-1{
      display: none;
    }
}
}
.small-stories .card-content .card-date{
  left: 15px;
}